* {
    text-align: center;
    margin: 0;
}

.header{
    height: 650px;;
    /* background-color: aquamarine; */
    background-image: url("images/Hand-2.jpg");
    background-size: cover;
    background-position: center;
}
.title-heading{
    font-family: 'Rowdies', sans-serif;
    font-weight: 900;
    color: #33186B;
    font-size: 4rem;
    background-color: #FFF5E4;
    padding: 3% 0;
}
#header-navbar{
    margin-bottom: 0 !important;
    padding-bottom: 10px0 !important;
    background-color: #FFF5E4;
}
.title{
    font-family: 'Pacifico', cursive;
    color: #33186B;
    font-weight: 400;
}

.gradient-background {
    background: linear-gradient(300deg, #FF9494, #FFF5E4, #00bfff);
    background-size: 180% 180%;
    animation: gradient-animation 18s ease infinite;
  }
  
  @keyframes gradient-animation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

  .navigation-items{
    display: flex;
    justify-content: flex-end;
  }

  .nav-list{
    font-weight: 700;
  }
  #quotes{
    height: 400px;
  }
  #quotes-img-1, #quotes-img-2, #quote-text{
    display: inline-block;
  }
  #quotes-img-1, #quotes-img-2{
    height: 300px;
    width: 300px;
  }
  #quotes-img-1{
    float: left;
  }